
<!DOCTYPE html>
<html>
  <header>
    <a href="{% url 'home' %}">Home</a> | <a href="{% url 'charts' %}">Charts</a> | <a href="{% url 'update' %}">Update</a> | <a href="{% url 'about' %}">About</a> 
  </header>

<head>
    <title>Insight's Metrices Tool</title>
</head>
  {% load static %}

  <!--body id="bg" style="background-image: url('{% static "image/background_2.jpg"%}')";-->
  <body id="bg" style="background-color: lightblue">
    <br>
    <center><img src="{% static "image/rsys_logo_1.jpg" %}" align="center" alt="Radisys" width="160" hight="60"></center>
    <h2> <center>Insight Metrics Dashboard</h2>
   <!-- <marquee direction="right" behaviour="scroll"><h2> Insight Metrics Dashboard</h2></marquee> -->
    <br> 
  </body>
<html>
{% block content %}
{% endblock %}
